{% extends 'base.html' %}
{% block content %}
{# Level 1 Template #}
<!-- Contact Page -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9 mx-auto">
            {# If the page is loaded while there are alerts queued then they are displayed #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class='card alert-cookbook'>
                            <div class="card-body alert text-center" role="alert ">
                                <h2 class="card-title">404</h2>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class='card'>
                <div class='card-body'>
                    <h3 class="card-title">
                        Contact Us
                    </h3>
                    <div class='card-body'>
                        <!-- Login Form -->
                        <form
                            form
                            action="{{ url_for('postcontact') }}"
                            method="POST"
                        >
                            <!-- Email Input -->
                            <div class="form-group ">
                                <label for="cformEmail">Email</label>
                                <input
                                    type="email"
                                    id="cformEmail"
                                    class="form-control"
                                    name="cformEmail"
                                    placeholder="Your email address"
                                    required
                                    autofocus
                                />
                            </div>
                            <!-- Subject -->
                            <div class="form-group ">
                                <label for="cformSubject">Subject</label>
                                <input
                                    type="text"
                                    id="cformSubject"
                                    class="form-control"
                                    name="cformSubject"
                                    placeholder="Subject of your query"
                                    required
                                />
                            </div>
                            <!-- Message -->
                            <div class="form-group">
                                <label for="cformText">Message</label>
                                <textarea class="form-control" id="cformText" rows="3" placeholder="Do you have a suggestion, find a bug or just want to say hey? Type your message here" name="cformText" required></textarea>
                            </div>
                            <!-- Submit Button -->
                            <button
                                class="btn btn-lg btn-cookbook1 btn-block"
                                type="submit"
                            >
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Changelog</h3>

                    <p class="card-text">
                        <h5>Version 0.1.0 - Beta</h5>
                        <p>Release Date: 10/10/2019</p>
                        <ul>
                            <li>Add alt text to some images that were missing it.</li>
                            <li>Implemented the sorting to select box options.</li>
                            <li>Fixed an issue with modal appearing behind the navigation bar</li>
                            <li>Fixed a bug with the time picker on the search page.</li>
                            <li>Caught a few spelling mistakes that were on the loose.</li>
                            <li>Tidied up some comments hidden in the code.</li>
                        </ul>
                        This is the final release before the project is submitted for grading. This site is still in beta as there are many things that need to be fixed before it can be considered stable. A list of known issues can be found <a href="https://github.com/DimensionalDrift/Milestone_3/tree/fix-cleanup#known-issues" target="_blank">here</a>, anything other bugs please remember to contact me using the form above. Thank you to everyone who helped test out the development of this project and I hope you enjoy using Cookbook!
                    </p>
                    <p class="card-text">
                        <h5>Version 0.0.5 - Alpha</h5>
                        <p>Release Date: 05/10/2019</p>
                        <ul>
                            <li>A major cleanup of the code has been made in the background, useless bits have been removed, comments are more descriptive, Marie Kondo would be proud.</li>
                            <li>The first draft of the report has been written, you can find it at the Github link in the footer if you're interested.</li>
                            <li>Fixed a bug where the like button was not blue on the home page for liked recipes.</li>
                            <li>Fixed a bug with the with the stars not rendering correctly in the rating modal.</li>
                        </ul>
                    </p>
                    <p class="card-text">
                        <h5>Version 0.0.4 - Alpha</h5>
                        <p>Release Date: 01/09/2019</p>
                        <ul>
                            <li>Add 404 popup on this page in case something breaks.</li>
                            <li>Fix a bug with the rating stars rendering on mobile devices, if you ever see boxes instead of stars please let me know.</li>
                            <li>The search bar now works! When testing, the advanced search does nothing yet but you should be able to do simple text searches for text in recipes.</li>
                            <li>Some minor tweaks have been made to the layout of some parts.</li>
                        </ul>
                    </p>
                    <p class="card-text">
                        <h5>Version 0.0.3 - Alpha</h5>
                        <p>Release Date: 21/08/2019</p>
                        <ul>
                            <li>Fix bug with comments on the recipe cards on the home page. Now when clicked only the relevant comment section should open, not all of them.</li>
                            <li>Stopped users being allowed to rate the same recipe multiple time.
                            </li>
                        </ul>
                        Some things in this update may make the website slow to load, especially the home page. This problem may get worse as the site grows but if you notice that any part of the website is unreasonably slow please let me know.
                    </p>
                    <p class="card-text">
                        <h5>Version 0.0.2 - Alpha</h5>
                        <p>Release Date: 20/08/2019</p>
                        <ul>
                            <li>Migrated the Database to the live version, no more test recipes this is real folks.</li>
                            <li>Added some "Coming Soon" popup boxes on things that definitely have not been finished. If something doesn't work as you think it's supposed to and you don't get a popup then please let me know.</li>
                            <li>Fixed some issues when using multiple choice inputs where it would be difficult to remove entered values.</li>
                            <li>Hooked up the email form so now emails actually get sent to me!</li>
                            <li>Fixed some small backend issues.</li>
                        </ul>
                    </p>
                    <p class="card-text">
                        <h5>Version 0.0.1 - Alpha</h5>
                        <p>Release Date: 08/08/2019</p>
                        This is the initial alpha release so everything you see is new but to explain what is included:
                        <ul>
                            <li>Home page of submitted recipes in reverse chronological order.</li>
                            <li>User login so that you can submit your own recipes and interact with others.</li>
                            <li>User profile listing submitted recipes, comments and liked recipes.</li>
                            <li>Submission page so that you can submit your own recipes to the site.</li>
                            <li>Recipe page showcasing recipes with ingredient lists, instructions and any comments other users have made.</li>
                            <li>This page with comment form and changelog.</li>
                        </ul>
                        There are numerous features and details that I have not included here but you can check out the sites development over on the Github page that is at the "About this project" link found in the footer below.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}