{% block content %}
{# Level 2 Template #}
<!-- Disclaimer Modal - Check1 -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal header with close button -->
            <div class="modal-header text-center">
                <h3 class="modal-title" id="signupModalTitle">
                    Disclaimer for Cookbook
                </h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p>
                    This is a student project for the
                    <a href="https://codeinstitute.net/"
                        >Code Institute course in Full Stack Web Development</a
                    >. All the information on this website -
                    <a href="http://cimp3-cookbook.herokuapp.com/"
                        >www.cimp3-cookbook.herokuapp.com/</a
                    >
                    - is published in good faith and for general information
                    purpose only. Recipes published here are user submitted and
                    as such Cookbook does not make any warranties about the
                    completeness, reliability and accuracy of this information.
                    Any action you take upon the information you find on this
                    website (Cookbook), is strictly at your own risk. Cookbook
                    will not be liable for any losses and/or damages in
                    connection with the use of our website.
                </p>

                <p>
                    Since this is a student project, no guarantees can be made
                    regarding the safety of your personal information as the
                    security implemented on this site is known to be simple.
                    Please <b>do not reuse passwords from other sites</b> or
                    give any personal information that you are not comfortable
                    to give knowing the above. Dummy credentials can be used as
                    no confirmation email is sent to you on signup but know that
                    if in the future we wish to contact you (for example for
                    password recovery) you will not be able to receive this
                    information.
                </p>

                <p>
                    From our website, you can visit other websites by following
                    hyperlinks to such external sites. While we strive to
                    provide only quality links to useful and ethical websites,
                    we have no control over the content and nature of these
                    sites. These links to other websites do not imply a
                    recommendation for all the content found on these sites.
                    Site owners and content may change without notice and may
                    occur before we have the opportunity to remove a link which
                    may have gone 'bad'.
                </p>

                <p>
                    Please be also aware that when you leave our website, other
                    sites may have different privacy policies and terms which
                    are beyond our control. Please be sure to check the Privacy
                    Policies of these sites as well as their "Terms of Service"
                    before engaging in any business or uploading any
                    information.
                </p>

                <h4>Consent</h4>

                <p>
                    By signing up and using our website, you hereby consent to
                    our disclaimer and agree to its terms.
                </p>

                <h4>Updates</h4>

                <p>
                    Should we update, amend or make any changes to this
                    document, those changes will be prominently posted here.
                </p>

                <p>
                    If you require any more information or have any questions
                    about our site's disclaimer, please feel free to contact us using the form found <a href="/contact">here</a>.
                </p>
                <p>
                    Thank you for your understanding and enjoy using Cookbook!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
