{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card my-5">
                <div class="card-header text-center py-3">
                    <h3>Welcome to Cookbook</h3>
                </div>
                <div class="card-body">
                    <div class='row'>
                        <div class='col-12'>
                            <p>Welcome to a very early preview version of Cookbook, the premier social recipe website that looks nothing like any other social networks! This is my project for the Code Institute Full Stack Web Development course I am doing and if you are seeing this it means you are one of the lucky few I have asked to preview the site before it is finished. <br>I need your help, for this project to be successful I need as many users as possible to add their own recipes to the site as well as rate and comment on others recipes. I will make a list of what I need people to test below, as sections of the site are finished more requests will be added. If you come across any issues I would really appreciate if you could let me know about the problem in as much detail as possible. I will have a formal bug reporting system put in place in the future but in the mean time you can just text me.</p>
                            <h6 class="text-center">Thank you for your help testing out Cookbook!</h6>
                        </div>
                    </div>
                    <div class='row'>

                        <div class="col-6">
                            <h6 class=""> Features to test: </h6>
                            <ol>
                                <li>Check how the site looks on as many devices as you can</li>
                                <li> Check that you can sign up to the service and then log in with those credentials (the login button should be at the top of the page)</li>
                                <li>Submit as many recipes as you can to the database</li>
                            </ol>
                        </div>
                        <div class="col-6">
                            <h6 class=""> Features to add and known issues: </h6>
                            <ol>
                                <li>A home page with a list of new and interesting recipes</li>
                                <li>A user page where you can see what recipes you have added and what recipes you have liked/commented on</li>
                                <li>A recipe page laid out for browsing and for when you want to cook the recipe</li>
                                <li>Search page so you can browse recipes based on searchable criteria, eg ingredients, time, cuisines etc.</li>
                                <li>The menu bar on mobile is still not working/designed as intended</li>
                                <li>Forgot your password link does nothing, please remember your passwords because I can't get them back!</li>
                                <li>I'm sure loads more that I haven't added yet</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
