{% block content %}
{# Level 2 Template #}
<!-- No Star Rating Modal - Check1 -->
<div class="modal fade" id="nostarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal header with close button -->
            <div class="modal-header card-header">
                <h5 class="modal-title card-title">Recipe Rating</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            {% if vote == True %}
                <div class="modal-body card-body text-center">
                    You have already given this recipe a rating. The ability to change your vote is coming soon in a future update.
                </div>
            {% else %}
                <div class="modal-body card-body text-center">
                    You can't rate your own recipe. Ask your friends to check out
                    your recipes to see what they think!
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
