{% block content %}
{# Level 2 Template #}
<!-- Small Recipe Card -->
<!-- This template is used in two views, one where the recipes description is shown as in the list of the users submitted recipes and another with comments the user has made on the recipe. The different views are handled using the commentflag variable in the parent template above. -->
<div class="card recipecardsmall">
    <!-- Recipe card title -->
    <div class="card-header">
        {# If the recipe was submitted by the currently logged in user then delete and edit control buttons are included #}
        {% if submitflag == True %}
            <div class="row">
                <div class="col-12 col-sm-8">
                    <a
                        href="/recipe/{{ recipe['_id'] }}"
                        title="title"
                        style="color: black; text-decoration: none;"
                    >
                        <h5 class="m-0">{{ recipe["name"] }}</h5>
                    </a>
                </div>
                <div class="col-12 col-sm-4 d-flex justify-content-end p-1 pl-3">
                    <a
                        class="btn btn-cookbook2 btn-sm mr-1"
                        role="button"
                        href="{{ url_for('recipeedit', rid=recipe['_id']) }}"
                    >
                        Edit
                    </a>
                    <a
                        class="btn btn-cookbook2 btn-sm ml-1"
                        role="button"
                        data-toggle="modal"
                        data-target="#deleteModal"
                    >
                        Delete
                    </a>
                </div>
            </div>
        {# Otherwise the title of the recipe is rendered with the authors name #}
        {% else %}
            <div class="row">
                <div class="col-12">
                    <a
                        href="/recipe/{{ recipe['_id'] }}"
                        title=""
                        style="color: black; text-decoration: none;"
                    >
                        <h5 class="m-0">
                            {{ recipe["name"] }} - {{ recipe["author"] }}
                        </h5>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Recipe card body -->
    <div class="card-body">
        <div class="row">
            <!-- Image - hides on particularly small screens -->
            <div class="col-4 col-md-3 d-none d-md-inline pr-0">
                <div class="img-frame">
                    <div class="img-view iv-urecipe">
                        {# If an image is included in the recipe entry it is rendered, of not then the default recipe image is used #}
                        {% if recipe['image']['url'] %}
                            <img src="{{ recipe['image']['url'] }}" />
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/defaultdish.png') }}" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Text and Tags -->
            <div class="col-12 col-md-9 align-items-end">
                <!-- Description or comment row -->
                <div class="row" style="min-height: 40%;">
                    <div class="col-12">
                        {# When the comment flag is set a comment is displayed, otherwise the recipes description is displayed #}
                        {% if commentflag == True %}
                            {{ comment['comment'] }} - {{ comment['date'].strftime("%d %b %y") }} at {{ comment['date'].strftime("%H:%M") }}
                        {% else %}
                            {{ recipe["description"] }}
                        {% endif %}
                    </div>
                </div>
                <!-- Star rating row -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="stars-outer"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ recipe['aggregateRating']['ratingValue']|round(2) }}/5, {{ recipe['aggregateRating']['reviewCount'] }} votes"
                        >
                            <div
                                class="stars-inner"
                                style="width: {{ (recipe['aggregateRating']['ratingValue']/5)*100 }}%;"
                            ></div>
                        </div>
                    </div>
                </div>
                <!-- Tag row -->
                <div class="row">
                    <div class="col-6">
                        Categories:
                        {# The list of tags are iterated across to be rendered #}
                        {% for item in recipe['recipeCategory'] %}
                            <a href="#" class="badge badge-light">
                                {{ item }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        Cuisines:
                        {# The list of tags are iterated across to be rendered #}
                        {% for item in recipe['recipeCuisine'] %}
                            <a href="#" class="badge badge-light">
                                {{ item }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if submitflag == True %}
    {# The delete modal used to be included in the user template but unfortunately the page would not load because of the delete button. It needs the recipe id for the flask route and each id is defined in each recipecard so a modal needs to be defined for each card. It would be better if only one modal was needed rather than one for each card as this means that there is a load of extra html that is not needed. I presume extra html will slow down the load times of the page but that should be tested later. If that is true then I'm not sure how to pass details from one bit of html to another, some JavaScript might need to be used but I would like to avoid it if I can. #}
    <div id="deletemodalDiv">
        {% include 'deletemodal.html' %}
    </div>
{% endif %}
{% endblock %}
