{% extends 'base.html' %} {% block content %}
{# Level 1 Template #}
<!-- Search Results - Check2 -->
<div class="container">
    <div class="row">
        <!-- Advanced Search Filters -->
        <div class="col-12 col-lg-3 px-0">
            <div
                class="card mx-0 d-none d-lg-block sticky-top"
                style="top:54px;"
            >
                {% include 'advancedsearch.html' %}
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <!-- Advanced Search Card -->
            <div class="card" id="accordion">
                <div class="card-body">
                    <h2 class="card-title">Search</h2>

                    <!-- Advanced Search Form -->
                    <form
                        class="mr-auto d-flex"
                        form
                        action="{{ url_for('postadvsearch') }}"
                        method="POST"
                    >
                        <!-- Search Query Input -->
                        <div class="input-group">
                            {# If the page loads with a search query it is preloaded into the search field, otherwise the field is blank #}
                            <input
                                class="form-control"
                                type="search"
                                placeholder=" Search by Ingredient, Meal..."
                                {% if query == None %}
                                    value=""
                                {% else %}
                                    value={{query}}
                                {% endif %}
                                name="advquery"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-cookbook2 btn-search"
                                    type="submit"
                                >
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Advanced search button for mobile -->
                <div
                    class="card-footer text-center d-lg-none"
                    data-toggle="collapse"
                    data-target="#advoption"
                >
                    <span>Advanced Search Options</span>
                </div>
                <div id="advoption" class="collapse" data-parent="#accordion">
                    {% include 'advancedsearch.html' %}
                </div>
            </div>
            <!-- Results List -->
            <div class="card-view">
                {# If no recipes have been submitted that match the search then a message is displayed instead #}
                {% if recipes|length < 1 %}
                    <div class="card">
                        <div class="card-body">
                            <div class="col-12 text-sm-center">
                                No recipes match your search!
                            </div>
                            <div class="col-12 text-lg-center">
                                Try broadening your search or maybe the recipes you
                                are looking for have not been added yet.
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- At the moment the search result just returns the recipe, in the future it would be good to show the reason the recipe matched the search criteria as any part of the recipe can be searched -->
                <div class="recipelist">
                    {# For each recipe in the recipe list display in a small card #}
                    {% for recipe in recipes %}
                        {% include 'recipecardsmall.html' %}
                    {% endfor %}
                </div>
                <div class="page-load-status p-0">
                    <p class="infinite-scroll-request">
                        Loading...
                    </p>
                    <p class="infinite-scroll-last m-0">
                        <i
                            class="fas fa-sm fa-circle"
                            style="color: #869ece;"
                        ></i>
                    </p>
                    <p class="infinite-scroll-error">
                        There seems to be a problem, try reloading the page.
                    </p>
                </div>
            </div>
            <!-- Load More Button -->
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 offset-md-3 offset-lg-2">
                    <div class="text-center">
                        {# If no search has been made then don't display the Load More button #}
                        {% if query == None %}
                            <span></span>
                        {% else %}
                            <button class="load-more btn btn-cookbook2">
                                Load More
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script to pass python environment variable to JavaScript -->
<script type="text/javascript">
    var pagemax = {{pagemax}};
</script>
<!-- Search JavaScript -->
<script
    type="text/javascript"
    src="{{ url_for('static', filename = 'js/search.js') }}"
></script>

{% endblock %}
