{% extends 'base.html' %}
{% block content %}
<!-- Level 1 Template -->
<!-- Search Results -->
<div class='container'>
    <div class='row'>
        <div class='col-12 col-lg-3 px-0'>
            <div class="card mx-0 d-none d-lg-block sticky-top" style="top:54px;">
                {% include 'advancedsearch.html' %}
            </div>
        </div>
        <div class='col-12 col-lg-9'>
            <div class="card" id="accordion">
                <div class='card-body'>
                    <h2 class="card-title">Search</h2>

                    <form class="mr-auto d-flex" form
                        action="{{ url_for('postadvsearch') }}"
                        method="POST">
                        <div class="input-group">
                            <input
                                class="form-control"
                                type="search"
                                placeholder=" Search by Ingredient, Meal..."
                                {% if query == None %}
                                    value=""
                                {% else %}
                                    value={{query}}
                                {% endif %}
                                name="advquery"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-cookbook2 btn-search"
                                    type="submit"
                                >
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center d-lg-none" data-toggle="collapse" data-target="#advoption">
                    <span>Advanced Search Options</span>
                </div>
                <div id="advoption" class="collapse" data-parent="#accordion">
                    {% include 'advancedsearch.html' %}
                </div>
            </div>
            <div class="card-view">
                    <!-- If no recipes have been submitted by the user then a message is displayed in their place encouraging the user to start submitting -->
                    {% if recipes|length < 1 %}
                        <div class="card">
                            <div class="card-body">
                                <div class='col-12 text-sm-center'>
                                    You have not submitted any recipes yet!
                                </div>
                                <div class='col-12 text-lg-center'>
                                    Click the submit button above to start adding some of your favorite dishes.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- For every recipe in the users profile a recipe card is loaded with the recipe description -->
                    <div class="recipelist">
                        {% for recipe in recipes %}
                            {% include 'recipecardsmall.html' %}
                        {% endfor %}
                    </div>
                    <div class="page-load-status p-0">
                        <p class="infinite-scroll-request">
                            Loading...
                        </p>
                        <p class="infinite-scroll-last m-0">
                            <i class="fas fa-sm fa-circle" style="color: #869ece;"></i>
                        </p>
                        <p class="infinite-scroll-error">
                            There seems to be a problem, try reloading the page.
                        </p>
                    </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 offset-md-3 offset-lg-2">
                    <div class="text-center">
                        {% if query == None %}
                            <span></span>
                        {% else %}
                            <button class="load-more btn btn-cookbook2">
                                Load More
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script to pass python environment variable to JavaScript -->
<script type="text/javascript">
    // Either a blank date or the edited date is passed into the JavaScript
    var pDate = Date.parse("2000-01-01T{{ prepTime }}");
    var cDate = Date.parse("2000-01-01T{{ cookTime }}");
    var pagemax = {{pagemax}};
</script>
<!-- My JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/search.js') }}"></script>

{% endblock %}