{% extends 'base.html' %}
{% block content %}
<!-- Level 1 Template - Check1-->
<!-- Signup Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <!-- Signup Card -->
            <div class="card my-5">
                <!-- Card Header -->
                <h3 class="card-header text-center py-3">
                    Sign up to Cookbook
                </h3>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- If the page is loaded while there are alerts queued then they are displayed -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-cookbook text-center" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <!-- Signup form -->
                    <!-- The enter key is suppressed since the disclaimer modal contains the submit button and I would like the user to read the disclaimer first -->
                    <form
                        form
                        action="{{ url_for('postsignup') }}"
                        method="POST"
                        id="signupform"
                        onkeydown="return event.key != 'Enter';"
                    >
                        <!-- Email Input -->
                        <div class="form-group py-1">
                            <label hidden for="signupEmail">Email</label>
                            <!-- Usually you would let the input handle an invalid email but since I am using a flash box for other incorrect inputs I thought it would be more consistent to handle it that way -->
                            <input
                                type="text"
                                id="signupEmail"
                                class="form-control"
                                placeholder="Email address"
                                name="email"
                                required
                                autofocus
                            />
                        </div>
                        <!-- Username Input -->
                        <div class="form-group py-1">
                            <label hidden for="signupUsername">User Name</label>
                            <input
                                type="text"
                                id="signupUsername"
                                class="form-control"
                                placeholder="User Name"
                                name="username"
                                required
                            />
                        </div>
                        <!-- Password Input -->
                        <!-- After some reading and pondering it was decided that it's better to not ask the user to enter the password twice like a lot of websites do. The thinking is that it's not great UX to ask the user to repeat themselves. Should the user enter the wrong password by mistake then when there is a method to recover their password then it's fine to not have to ask. -->
                        <div class="form-group py-1">
                            <label hidden for="signupPassword">Password</label>
                            <input
                                type="password"
                                id="signuppassword"
                                class="form-control"
                                placeholder="Password"
                                name="password"
                                required
                            />
                            <!-- Info explaining the requirements for the password and username -->
                            <small id="signupHelp" class="form-text text-muted">
                                Your username and password must be over 8
                                characters long, both may contain letters and
                                numbers but your username may not use spaces or
                                special characters.
                            </small>
                        </div>
                        <div>
                            <!-- Disclaimer button -->
                            <!-- The disclaimer modal has the submit button for the form -->
                            <button
                                class="btn btn-lg btn-cookbook1 btn-block"
                                type="button"
                                data-toggle="modal"
                                data-target="#signupModal"
                            >
                                Read Disclaimer and Sign up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Signup Modal -->
<div id="signupModalDiv">
    {% include 'signupmodal.html' %}
</div>
{% endblock %}
