{% extends 'base.html' %} {% block content %}

<section>
    <div class="container py-2">
        <div class="row">
            <div
                class="col-12 col-lg-3 d-flex justify-content-center align-items-start"
            >
                <div class="img-frame">
                    <div class="img-view iv-rform">
                        <img
                            src="{{ url_for('static', filename='icons/defaultprofilem.png') }}"
                            id="profileImage"
                            class="square"
                        />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <!-- Button Card -->
                <div class="card text-center">
                    <div class="card-body p-0">
                        <ul class="nav d-flex justify-content-center">
                            <li
                                class="nav-item btn btn-cookbook3 font-weight-bold"
                                id="btnSub"
                            >
                                <span class="nav-link">Submitted</span>
                            </li>
                            <li
                                class="nav-item btn btn-cookbook3 font-weight-bold"
                                id="btnFav"
                            >
                                <span class="nav-link">Favourites</span>
                            </li>
                            <li
                                class="nav-item btn btn-cookbook3 font-weight-bold"
                                id="btnCom"
                            >
                                <span class="nav-link">Comments</span>
                            </li>
                            <li
                                class="nav-item btn btn-cookbook3 font-weight-bold"
                                id="btnPro"
                            >
                                <span class="nav-link">Edit Profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Subbmitted Recipes View -->
                <div class="card-view" id="subView">
                    {% for recipe in recipes%}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">{{recipe["name"]}}</h5>
                        </div>
                        <div class="card-body">
                            <table class="urecipe">
                                <tr>
                                    <td rowspan="4">
                                        <div class="img-frame">
                                            <div class="img-view iv-user">
                                                {% if
                                                recipe['image']['url']|length >
                                                0 %}
                                                <img
                                                    src="{{recipe['image']['url']}}"
                                                />
                                                {% else %}
                                                <img
                                                    src="{{ url_for('static', filename='icons/defaultdish.png') }}"
                                                />
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" rowspan="2">
                                        {{recipe["description"]}}
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td colspan="2">
                                        <div
                                            class="stars-outer"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            title="{{recipe['aggregateRating']['ratingValue']}}/5, {{recipe['aggregateRating']['reviewCount']}} votes"
                                        >
                                            <div
                                                class="stars-inner"
                                                style="width: {{(recipe['aggregateRating']['ratingValue']/5)*100}}%;"
                                            ></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tags: {% for item in
                                        recipe["recipeCategory"]%}
                                        <span>{{item}}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        Cuisines: {% for item in
                                        recipe["recipeCuisine"]%}
                                        <span>{{item}}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--                 <div class="card">
                    <h5 class="card-header font-weight-bold">
                        Submitted Recipes
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div> -->
            </div>
            <!-- Favourite Recipes View -->
            <div class="card-view" id="favView">
                <div class="card" style="display: none">
                    <h5 class="card-header font-weight-bold">
                        Favourites
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Recipe Comments View -->
            <div class="card-view" id="comView">
                <div class="card" style="display: none">
                    <h5 class="card-header font-weight-bold">
                        Comments
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Edit User Profile Form View -->
            <div class="card-view" id="proView">
                <div class="card" style="display: none">
                    <h5 class="card-header font-weight-bold">
                        Edit Profile
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        // Fit each image correctly
        $(".iv-user > img").each(function() {
            fitImage($(this));
        });
    });

    // Show the corresponding card and hide the rest on button press
    $("#btnSub").click(function() {
        $(".card-view").hide();
        $("#subView").show();
    });

    $("#btnFav").click(function() {
        $(".card-view").hide();
        $("#favView").show();
    });

    $("#btnCom").click(function() {
        $(".card-view").hide();
        $("#comView").show();
    });

    $("#btnPro").click(function() {
        $(".card-view").hide();
        $("#proView").show();
    });
</script>

{% endblock %}
